@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
}

.ql-container {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.ql-editor {
  min-height: 11in;
  padding: 40px;
}

.ql-toolbar {
  position: sticky;
  z-index: 2;
  top: 0;

  background-color: #f3f3f3;
}

.ql-editor.ql-blank::before {
  position: absolute;
  top: 40px;
  left: 40px;
}